[Unit]
Description=Dwm Status Line
#Requires=mpd.socket
#After=mpd.socket

[Service]
ExecStart=/usr/bin/dwmstatus
Restart=no

[Install]
WantedBy=default.target
