[Unit]
Description=Dwm Status Line on %i
BindsTo=sys-subsystem-net-devices-%i.device
After=network.target

[Service]
ExecStart=/usr/bin/dwmstatus -i %i -m %h/.mutt/mail/inbox/new

[Install]
WantedBy=default.target
