[Unit]
Description=Music Player Daemon

[Service]
ExecStart=/usr/bin/mpd --no-daemon %h/.config/mpd/mpd.conf
ExecStop=/usr/bin/mpd --kill %h/.config/mpd/mpd.conf

[Install]
WantedBy=default.target
Also=mpd.socket
