[Unit]
Description=Notmuch mail
Documentation=man:notmuch-new(1)

[Service]
Type=oneshot
Environment=NOTMUCH_CONFIG=%S/notmuch/config
ExecStart=/usr/bin/notmuch new
