[Unit]
Description=OfflineIMAP daemon for %i
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/offlineimap -u Quiet -k Repository_gmail-remote:remoteuser=%i

[Install]
WantedBy=default.target
