[Unit]
Description=WPA Supplicant Daemon on %i
Requires=sys-subsystem-net-devices-%i.device
After=sys-subsystem-net-devices-%i.device

[Service]
Type=simple
ExecStart=/usr/bin/sudo wpa_supplicant -c/etc/wpa_supplicant.conf -i%i

[Install]
WantedBy=default.target
