[Unit]
Description=Xset Setxkbmap Xmodmap

[Service]
Type=oneshot
ExecStart=/usr/bin/xset +dpms
ExecStart=/usr/bin/xset dpms 1800 1800 1800
ExecStart=/usr/bin/setxkbmap -option ctrl:nocaps
ExecStart=/usr/bin/xmodmap -e "keycode 135 = Super_R"

[Install]
WantedBy=default.target
