[core]
  editor = vim
  excludesfile = /home/mvo/.gitignore_global
[url "git@github.com:holomorph/"]
  pushInsteadof = "https://github.com/holomorph/"
[alias]
  a = add --all
  d = difftool
  s = status -sb
  l = log --abbrev-commit --date=relative --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %Cblue<%an>%Creset'
[diff]
  tool = vimdiff
[merge]
  tool = vimdiff
  verbosity = 1
  summary = true
[color]
  ui = always
  branch = auto
  diff = auto
  status = auto
[color "branch"]
  current = green bold
  local = blue
  remote = red reverse
[color "diff"]
  meta = white bold
  frag = cyan bold
  old = red bold
  new = green bold
[color "status"]
  added = green bold
  changed = yellow bold
  untracked = red bold
