!
! ~/.Xresources
!

! Color scheme
#include "/home/mvo/.config/hybrid"

! Emacs options
Emacs*font: -*-cousine-medium-r-*-*-11-*-*-*-*-*-*-*
Emacs*bold.attributeFont: -*-cousine-bold-r-*-*-11-*-*-*-*-*-*-*
Emacs.menuBar: off
Emacs.verticalScrollBars: off
Emacs.toolBar: off

! URxvt options
URxvt*termName:rxvt-unicode-256color
URxvt.scrollstyle: rxvt
URxvt.scrollBar: off

! URxvt font options
URxvt.colorBD: #cc6666
URxvt.colorIT: #b5bd68
URxvt.colorUL: #81a2be
URxvt.font: xft:Cousine:size=8
URxvt.letterSpace: -1

! extensions
URxvt*perl-lib: /usr/lib/urxvt/perl
URxvt.perl-ext-common: default,matcher
URxvt.urlLauncher: /usr/bin/firefox
URxvt.matcher.button: 1
URxvt.matcher.pattern.1: \\bwww\\.[\\w-]\\.[\\w./?&@#-]*[\\w/-]
URxvt*matcher.pattern.2: \\b(mailto|http|https|ftp|file):[/]*[\\w-]\\.[\\w./?&@#-]*[\\w/-]
