<llppconfig>
<ui-font size='16'><![CDATA[/usr/share/fonts/TTF/consola.ttf]]></ui-font>
<defaults
    width='900'
    height='900'
    scroll-bar-width='7'
    scroll-handle-height='18'
    horizontal-scrollbar-visible='false'
    vertical-scrollbar-visible='false'
    case-insensitive-search='true'
    preload='true'
    page-bias='0'
    scroll-step='72'
    auto-scroll-step='2'
    max-height-fit='true'
    crop-hack='false'
    throttle='false'
    highlight-links='true'
    under-cursor-info='false'
    vertical-margin='2'
    zoom='100'
    presentation='false'
    rotation-angle='0'
    persistent-bookmarks='true'
    fit-model='proportional'
    pixmap-cache-size='32M'
    tex-count='32'
    slice-height='1024'
    thumbnail-width='76'
    persistent-location='true'
    background-color='30/30/30'
    tile-width='2048'
    tile-height='2048'
    mupdf-store-size='256M'
    checkers='true'
    aalevel='8'
    trim-margins='false'
    trim-fuzz='0/0/0/0'
    uri-launcher='$BROWSER &quot;%s&quot;'
    path-launcher='$TERMINAL -d &quot;%s&quot;'
    color-space='rgb'
    invert-colors='false'
    brightness='1.000000'
    selection-command='xclip -i'
    synctex-command='echo SyncTex'
    pax-command='cat'
    askpass-command=''
    savepath-command=''
    update-cursor='false'
    hint-font-size='12'
    horizontal-scroll-step='72'
    page-scroll-scale='1.000000'
    use-pbo='true'
    wheel-scrolls-pages='false'
    remote-in-a-new-instance='false'
    point-and-x='false'
    point-and-x-mark='word'
    scroll-bar-on-the-left='false'
    edit-annotations-inline='true'
    coarse-presentation-positioning='false'
    use-document-css='true'>
<keymap mode='global'>
<map in='ctrl-y' out='up'/>
<map in='ctrl-n' out='down'/>
<map in='ctrl-p' out='up'/>
<map in='ctrl-g' out='esc'/>
<map in='ctrl-e' out='down'/>
<map in='shift-space' out='del'/>
<map in='ctrl-v' out='pgdown'/>
<map in='ctrl-f' out='pgdown'/>
<map in='ctrl-[' out='esc'/>
<map in='alt-v' out='pgup'/>
<map in='ctrl-b' out='pgup'/>
</keymap>
<keymap mode='outline'>
<map in='tab' out='esc'/>
</keymap>
<keymap mode='birdseye'>
<map in='u' out='ctrl-k'/>
<map in='f' out='pgdown'/>
<map in='d' out='ctrl-j'/>
<map in='f11' out='f'/>
<map in='b' out='pgup'/>
</keymap>
<keymap mode='view'>
<map in='tab' out='o'/>
<map in='k' out='up'/>
<map in='ctrl-u' out='ctrl-k'/>
<map in='u' out='ctrl-k'/>
<map in='s' out='b'/>
<map in='l' out='right'/>
<map in='j' out='down'/>
<map in='alt-u' out='u'/>
<map in='f' out='pgdown'/>
<map in='d' out='ctrl-j'/>
<map in='f11' out='f'/>
<map in='ctrl-d' out='ctrl-j'/>
<map in='b' out='pgup'/>
<map in='h' out='left'/>
</keymap>
</defaults>
</llppconfig>
