# ~/.config/.gitignore

DisplayCAL/
GREYC/
DjVuLibre/
ImageMagick/
OpenSCAD/
QCAD/
RawTherapee5/
beets/
chromium/
dconf/
gmic/
gtk-2.0/gtkfilechooser.ini
gtk-3.0/bookmarks
inkscape/
keepassxc/
libreoffice/
pianobar/
weather/
