/* (c) Ippytraxx 2012 v.szolnoky@tele2.se */
/* HIDDEN ELEMENTS */
#identity-box,
#urlbar-icons > image,
#urlbar-container dropmarker,
#new-tab-button .toolbarbutton-icon,
#appmenu-toolbar-button,
#appmenu-toolbar-button > .toolbarbutton-text,
#appmenu-toolbar-button > .toolbarbutton-menu-dropmarker,
.tabs-newtab-button {
  display:none!important;
}

/* TABS */
#main-window[sizemode="maximized"] #tabbrowser-tabs tab,
#main-window[sizemode="fullscreen"] #tabbrowser-tabs tab
{
  border-top:0!important;
  margin:0px 0px 0px!important;
  max-height:10px!important;
  padding:0 0px!important;
  border-radius:0 0 0px 0px!important;
}
#main-window #tabbrowser-tabs tab .tab-throbber,
#main-window #tabbrowser-tabs tab .tab-icon-image
{
  max-height:10px!important;
  max-width:10px!important;
  margin-top:-3px!important;
}
#main-window #tabbrowser-tabs tab[selected] .tab-close-button,
#main-window #tabbrowser-tabs tab:hover .tab-close-button
{
  opacity:1!important;
}
#main-window #tabbrowser-tabs tab[fadein]:not([pinned])
{
  min-width:40px!important;
  max-width:160px!important;
}
#main-window #tabbrowser-tabs tab[pinned]
{
  max-width:24px!important;
  min-width:24px!important;
}
#main-window #tabbrowser-tabs tab[pinned] .tab-close-button
{
  display:none!important;
}
